/* display */
.display-flex {
    display: flex;
}
.display-inline-flex {
    display: inline-flex;
}

/* flex-direction */
.flexDirection-row {
    flex-direction: row;
}
.flexDirection-column {
    flex-direction: column;
}

/* justify-content */
.justifyContent-justify-start {
    justify-content: flex-start;
}
.justifyContent-flex-end {
    justify-content: flex-end;
}
.justifyContent-center {
    justify-content: center;
}
.justifyContent-space-between {
    justify-content: space-between;
}
.justifyContent-space-around {
    justify-content: space-around;
}

/* align-items */
.alignItems-stretch {
    align-items: stretch;
}
.alignItems-center {
    align-items: center;
}
.alignItems-flex-start {
    align-items: flex-start;
}
.alignItems-flex-end {
    align-items: flex-end;
}
.alignItems-baseline {
    align-items: baseline;
}

/* align-content ;*/
.alignContent-stretch {
    align-content: stretch;
}
.alignContent-center {
    align-content: center;
}
.alignContent-flex-start {
    align-content: flex-start;
}
.alignContent-flex-end {
    align-content: flex-end;
}
.alignContent-space-between {
    align-content: space-between;
}
.alignContent-space-around {
    align-content: space-around;
}

/* flex-wrap */
.flexWrap-nowrap {
    flex-wrap: nowrap;
}
.flexWrap-wrap {
    flex-wrap: wrap;
}
