.header {
    /*
    position: fixed;
    top: 0;
    z-index: var(--z-index-header);
    */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    position: static;
    width: 100%;
    min-height: var(--size-header-height);
    min-width: var(--size-min-width);
}

.layoutSection {
    /*justifyContent="space-between"
        flexDirection="row"
        alignItems="flex-end"
        flexWrap="nowrap"*/

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 1.5rem;
    border-bottom: 1px solid var(--color-border-light);
    padding-bottom: 1rem;
}
/* FIRST CHILD */
.layoutSection > :first-child {
    flex: 1
}

.nameLogoWrapper {
    position: relative;
    width: 12.0625rem;
    height: 1.3125rem;
    user-select: none;
}

