.header {
    position: fixed;
    top: 0;
    z-index: var(--z-index-header);
    width: 100%;
    height: var(--size-header-height);
    min-width: var(--size-min-width);
}

.layoutContent {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
