.layoutMain {
    width: 100%;
    min-width: var(--size-min-width);
    min-height: calc(100vh - var(--size-header-height));
}

.layoutSection {}

.layoutContent {
    width: 100%;
    max-width: var(--size-max-width);
    margin: 0 auto;
    padding: 0 var(--padding-layout);
}
