.likeIcon {
    color: var(--color-text-secondary);
    transition: transform 0.2s;
}

.liked {
    color: var(--color-red-500);
}

.animateLike {
    animation: pop 0.3s forwards;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
