.logoImage {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

html[data-theme='light'] .logoImage {
    background-image: url('/logo-light.svg');
}

html[data-theme='dark'] .logoImage {
    background-image: url('/logo-dark.svg');
}
