.markdown {
    font-family: inherit;
    color: var(--color-text-primary);
    line-height: 1.6;
}

/* Blockquote */
.blockquote {
    border-left: 4px solid var(--color-border-light);
    padding-left: 1rem;
    color: var(--color-text-secondary);
    margin: 1.5rem 0;
    background-color: var(--color-main-surface-secondary);
}

/* Heading */
.heading {
    display: inline;
}

.heading > * {
    display: inline;
    vertical-align: middle;
}

.heading .headingAnchor {
    display: inline-flex;
    margin-left: 0.75rem;
}

@media (min-width: 768px) {
    .heading .headingAnchor {
        opacity: 0;
    }

    .heading:hover .headingAnchor,
    .heading:focus .headingAnchor,
    .headingAnchor:focus {
        opacity: 1;
    }
}


/* Lists */
.list {}

.listItrem {
    margin-bottom: 0.5rem;
}

/* Image */
.image {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
}

/* Horizontal Rule */
.hr {
    border: none;
    border-top: 1px solid var(--color-border-light);
    margin: 2rem 0;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.tableHeader {
    background-color: var(--color-main-surface-secondary);
    font-weight: var(--font-weight-medium);
    text-align: left;
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-border-light);
}

.tableCell {
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-border-light);
}

/* Code block */
.codeBlock {
    border-radius: var(--border-radius-sm) !important;
    font-size: var(--font-size-body2);
}

.codeBlock,
.codeBlock > code {
    background-color: var(--color-main-surface-secondary) !important;
}

/* Inline code */
.inlineCode {
    font-size: var(--font-size-body2);
    padding: 0.2rem 0.4rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-main-surface-secondary);
}