.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color: transparent;
    border-radius: var(--border-radius-md);
    transition: background-color 0.15s ease-in-out;
}

.toggleButton:hover:not(:disabled) {
    background-color: var(--color-main-surface-tertiary);
}

.toggleButton:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.toggleButton.selected {
    background-color: var(--color-main-surface-tertiary);
}
