@import './theme.css';

html {
    font-size: var(--font-size);
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: visible;
}

body {
    font-family: var(--font-family-primary), sans-serif;
    color: var(--text-primary);
    background: var(--main-surface-background);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    user-select: none;
}

button:disabled {
    cursor: initial;
}
