@import './theme.css';

html {
    font-size: var(--font-size);
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: visible;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-text), sans-serif;
    color: var(--color-text-primary);
    background-color: var(--color-main-surface-primary);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    user-select: none;
}

button:disabled {
    cursor: initial;
}
