/*
==========================================================
  🌐 Responsive Design Variables - Mobile First Approach
==========================================================

  📱 Base Styles (Mobile First):
    - Applies to all viewports up to 767px.
    - Define default CSS variables here.

  📏 Breakpoints:
    - Tablet:       min-width: 768px;
    - Laptop:       min-width: 1024px;
    - Desktop:      min-width: 1280px;
    - Large Screen: min-width: 1920px;

  🛠 Usage:
    1. Define Variables in `:root` for mobile by default.
    2. Override Variables within Media Queries for larger screens.

  💡 Example (mobile):
    :root {
        --font-size: 14px;
        --size-header-height: 80px;
    }

  💡 Example (others):
    @media (min-width: 768px) {
        :root {
            --font-size: 16px;
            --size-header-height: 120px;
        }
    }

==========================================================
*/

:root {
    /* Palette */
    --color-white: #fff;
    --color-black: #000;
    --color-gray-50: #f9f9f9;
    --color-gray-100: #ececec;
    --color-gray-200: #e3e3e3;
    --color-gray-300: #cdcdcd;
    --color-gray-400: #b4b4b4;
    --color-gray-500: #9b9b9b;
    --color-gray-600: #676767;
    --color-gray-700: #424242;
    --color-gray-750: #2f2f2f;
    --color-gray-800: #212121;
    --color-gray-900: #171717;
    --color-gray-950: #0d0d0d;
    --color-red-500: #ef4444;
    --color-red-700: #b91c1c;
    --color-brand-purple: #ab68ff;
    --color-tag-blue: #08f;
    --color-tag-blue-light: #0af;
    --color-hint-text: #08f;
    --color-hint-bg: #b3dbff;
    --color-icon-secondary: #676767;
    --color-selection: #007aff;
    --color-surface-error: rgb(249, 58, 55);
    --color-text-error: #f93a37;
    /* Service Colors */
    --color-current-color: currentColor;
    --color-inherit: inherit;
    --color-initial: initial;
    --color-unset: unset;
    --color-none: none;
    --color-transparent: transparent;

    /* Typography */
    --font-family-title: var(--font-medium-content-sans-serif), "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-subtitle: var(--font-medium-content-sans-serif), "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-text: var(--font-medium-content-serif), Georgia, Cambria, "Times New Roman", Times, serif;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 800;
    --font-size: 14px;
    --font-size-h1: 2.5rem; /* 40px */
    --font-size-h2: 2rem; /* 32px */
    --font-size-h3: 1.75rem; /* 28px */
    --font-size-h4: 1.5rem; /* 24px */
    --font-size-h5: 1.25rem; /* 20px */
    --font-size-h6: 1.125rem; /* 18px */
    --font-size-subtitle1: 1.125rem; /* 18px */
    --font-size-subtitle2: 1rem; /* 16px */
    --font-size-body1: 1rem; /* 16px */
    --font-size-body2: 0.875rem; /* 14px */
    --font-size-caption: 0.75rem; /* 12px */
    --font-size-overline: 0.75rem; /* 12px */

    /* Sizes */
    --size-max-width: 768px;
    --size-min-width: 320px;
    --size-header-height: 100px;
    --size-footer-height: 50px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;

    /* Paddings */
    --padding-layout: 15px;

    /* Z-Indexes */
    /*--z-index-header: 10;*/
}

@media (min-width: 768px) {
    :root {
        --font-size: 16px;
        --size-header-height: 140px;
    }
}

html[data-theme='light'] {
    --color-text-primary: var(--color-gray-950);
    --color-text-secondary: #7d7d7d;
    --color-text-tertiary: var(--color-gray-400);
    --color-text-quaternary: var(--color-gray-300);
    --color-text-placeholder: rgba(0, 0, 0, 0.7);
    --color-border-x-light: rgba(0, 0, 0, 0.05);
    --color-border-light: rgba(0, 0, 0, 0.1);
    --color-border-medium: rgba(0, 0, 0, 0.15);
    --color-border-heavy: rgba(0, 0, 0, 0.2);
    --color-border-x-heavy: rgba(0, 0, 0, 0.25);
    --color-border-sharp: rgba(0, 0, 0, 0.05);
    --color-main-surface-background: hsla(0, 0%, 100%, 0.95);
    --color-composer-surface: hsla(0, 0%, 94%, 0.9);
    --color-dot-color: var(--color-black);
    --color-main-surface-primary: var(--color-white);
    --color-main-surface-secondary: var(--color-gray-50);
    --color-main-surface-tertiary: var(--color-gray-100);
    --color-sidebar-surface-primary: var(--color-gray-50);
    --color-sidebar-surface-secondary: var(--color-gray-100);
    --color-sidebar-surface-tertiary: var(--color-gray-200);
    --color-link: #2964aa;
    --color-link-hover: #749ac8;
}

html[data-theme='dark'] {
    --color-text-primary: var(--color-gray-100);
    --color-text-secondary: var(--color-gray-400);
    --color-text-tertiary: var(--color-gray-500);
    --color-text-quaternary: var(--color-gray-600);
    --color-text-placeholder: hsla(0, 0%, 100%, 0.8);
    --color-border-x-light: hsla(0, 0%, 100%, 0.05);
    --color-border-light: hsla(0, 0%, 100%, 0.1);
    --color-border-medium: hsla(0, 0%, 100%, 0.15);
    --color-border-heavy: hsla(0, 0%, 100%, 0.2);
    --color-border-x-heavy: hsla(0, 0%, 100%, 0.25);
    --color-border-sharp: hsla(0, 0%, 100%, 0.05);
    --color-main-surface-background: rgba(33, 33, 33, 0.9);
    --color-composer-surface: rgba(50, 50, 50, 0.8);
    --color-dot-color: var(--white);
    --color-main-surface-primary: var(--color-gray-800);
    --color-main-surface-secondary: var(--color-gray-750);
    --color-main-surface-tertiary: var(--color-gray-700);
    --color-sidebar-surface-primary: var(--color-gray-900);
    --color-sidebar-surface-secondary: var(--color-gray-800);
    --color-sidebar-surface-tertiary: var(--color-gray-750);
    --color-link: #7ab7ff;
    --color-link-hover: #5e83b3;
}
