.title > a {
    color: inherit;
}

.skeleton,
.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.meta {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}
